<!DOCTYPE html>
<html>
<head>
<script src="JS/angular.js"></script>
<script src="JS/Scripts.js"></script>
</head>
<body>
	<!-- <div ng-app="myMod1" ng-controller="myController1">
 <div>
FirstName={{ employee.FirstName }}
</div>

<div>
LastName={{ employee.LastName }}
</div>

<div>
<img ng-src="{{ employee.Flag}}" style="height:150px;width:150px" alt="USA FLAG"/>
</div>
</div>
 -->
	<div ng-app="myMod2" ng-controller="myController2">
		<input type="text" ng-model="message" /> <br></br> {{ message}} <br></br>
		<input type="text" ng-model="greeting" /> <br></br> {{ greeting }}
	</div>

	</div>


</body>
</html>