<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
<!-- <bean id="vehicle" class="com.tcs.SpringByNavin.Bike">
</bean>  // for xml based configuration
 -->
 
 <context:component-scan base-package="com.tcs.SpringByNavin"></context:component-scan>  <!--used for annotation configuration   -->

<!--  <bean id="tyre" class="com.tcs.SpringByNavin.Tyre">
 	<property name="brand" value="MRF"></property>  // set value using property
 </bean> 
 -->

<!-- <bean id="tyre" class="com.tcs.SpringByNavin.Tyre">
	<constructor-arg value="CEAT"></constructor-arg>   set valuse using constructor injection
 	<constructor-arg value="10"></constructor-arg>
 </bean> 
 -->
<bean id="myCoach" class="com.udemy.FootballCoach">
 </bean> 

</beans>